<br>
<br>
spaces.show
<br>

<h3>The space you clicked on has just been updated to have :claimed set to 'true'.</h3>


<h3>You now have a claim to this space and it will not appear in any other user's search. </h3>




  <%= @space.latitude %>
  <%= @space.longitude %>




