		<!-- current_user.space = @space -->



<div class="page">users.index</div>
	<div class="explain">
 
		<h4>Submitting here creates a new Destination, with fields: :address, :user_id, :user_act_latitude, :user_act_longitude.</h4>
		<h4 class="mobileGPS">Any data posted in forms with a blue outline will be gathered automatically from the device GPS in the mobile version.</h4>

	</div>


<div class="phoneContainer">


	

	<div class="container">


	
	<br>
	<br>
	<div class="brand_big">APP BRAND</div>

		<div class="form_container">
			 	<%= render 'destinations/form' %>
		</div>

	</div>



	





<!-- for viewing purposes -->

<br>
<br>




</div>