
<br>
<br>
users.index
<br>
<br>

<h3>Submitting here creates a new Destination, with fields: :address, :user_id, :user_act_latitude, :user_act_longitude.</h3>
<h3>After mobile, :user_act_latitude and :user_act_longitude will be submitted automatically by the device GPS.</h3>




<br>
<br>



	<div class="destination_form_container">
	 	<%= render 'destinations/form' %>

	</div>