<br>
<br>

<br>

<div class="page">destinations.show</div>
  <div class="explain">
 
    <p>Once you are parked, your mobile device's GPS will periodically send your coordinates to the cloud, which will calculate your distance from your space, recording your max distance.</p>
    <p>If your distance sent is less than half the max distance, the app will send a notification to your device asking if you are headed to your space</p>
    <p>If you respond "no", nothing happens</p>
    <p>If you respond "yes", then your space is moved from status 0 ("occupied") to status 1 ("available_soon")</p>

	<p>Or, if the user can click here when heading back to his/her space.</p>
 



</div>

<div class="phoneContainer">


	<div class="container">

	<h3>You are currently parked near:</h3>



	

		<div id="parkedAddress">


		
		<p><%=Space.search(@space.latitude.to_s,@space.longitude.to_s)["results"][0]["formatted_address"]%></p>

		</div>

		

		<br>
	<br>

	<%= link_to "click here when heading back to your space", walking_update_path %>

	</div>
		
		


</div>

