


<br>
<br>


<br>
<br>

<br>

<div class="page">users.walking</div>
  <div class="explain">
 
    <p>You are walking to your car.</p>
    <p>The status of your space has been set to 1 ("available_soon").</p>
    <p>The GPS in your device is now tracking your location rather than periodically updating it (as opposed to as it was when your space was in state 0).  Once you reach your space, your location will be recognized as being at your space, and the status of your space will update to 2 ("available").</p>
    <p>Or, the user can click when he/she arrives at the space</p>
    <p>Once the status of your space updates to 2, then after a set time (depending on the time of day), your space will be destroyed.</p>

	
 	



</div>


<div class="phoneContainer">


	<div class="container">


        <div class="walking_pic"></div>

        <br>
		<%= link_to "Click here when you arrive at your space.", arrived_update_path, class: "btn btn-primary wide_button"   %>

	</div>



</div>