/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_bootstrap.min

 */


	  #map {
        height: 100%;
        width: 100%;
       /* display: block;
        float: left;*/
        /*display: none;*/
      }
      
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .page{
/*
        float: right;*/
        margin-top: 1.23%;
        margin-right: 5%;
        position: absolute;
        left: 90%;
        top: 10%;

      }

      .explain{

        
        position: absolute;
        width: 45%;
        outline: solid pink 1px;
        left:55%;
        margin-top: 8%;
        height: 70%;
        z-index: -1;
        overflow-wrap: all;
  


      }

      .phoneContainer{


        text-align: center;
        height: 95%;
        width: 30%;
        border: solid black 5px;
        overflow: hidden;
        margin-left: 15%;
        margin-top: 1%;
        border-radius: 30px;

      }

      .container{

        
        /*outline: solid green 1px;*/
        display: inline-block;
        height: 97%;
        width: 95%;
        margin-top: 2%;

      }

   /*   .brand_big{

        width: 100%;
        height: 30%;
        outline: solid purple 1px;
        font-size: 120%;
        font-family: 'Pacifico', cursive;


      }*/

      .brand_big{ 

        color: #2196F3;
        width: 100%;
        height: 5%;
        text-transform:uppercase ;
        text-decoration:none ;
        font-family: 'Pacifico', cursive;
        font-size:50px ;
        /*display: inline-block;*/
        transform : scale(1,1);
        -webkit-transform:scale(.9,3); /* Safari and Chrome */
        -moz-transform:scale(1,1.5); /* Firefox */
        -ms-transform:scale(1,1.5); /* IE 9+ */
        -o-transform:scale(1,1.5); /* Opera */
        margin-bottom: 45%;
      }


      .form_container{

        margin: 0 auto;
       /* outline: solid red 1px;*/
        height: 60%;
        font-size: 150%;
      }

      .buttonStyle{

        width: 100%! important;
        height: 20%! important;
        font-size: 120%! important;

      }

      .empty_space{

        height: 30%;
        width: 100%;
        display: block;

      }

       .fieldStyle{


        width: 100%;
        height: 40px;


      }


      .mobileGPS{

        width: 100%;
        height: auto;
        border: solid blue 2px;
        margin: 0 auto;
        opacity: 0.5;
      }

      .mapContainer{


        width: 100%;
        height: 50%;
        border: solid orange 1px;
        margin-top: 5%;
        position: static;
        z-index: 1;



      }

      .mapSpaceContainer{
      	width: 100%;
      	height: 100%;
      	/*border: solid orange 1px;*/
       /* margin-top: 10%;*/
      }

      .spaceContainer{

      	width: 100%;
      	height: 34%;
      	outline: solid blue 1px;
      /*	display: inline-block;
        float: left;*/
        display: block;
        overflow: hidden;



      }

      .greenSpaceClick{

      	height: 50px;
        width: 50%;
        outline: solid green 2px;
        display: inline;
        float: left;
        font-size: 200%;

      }

      .yellowSpaceClick{

        height: 50px;
        width: 50%;
        outline: solid yellow 2px;
        display: inline;
        float: left;
        font-size: 200%;

      }

      .spaceClick:hover {

        cursor:pointer;
        text-decoration-line: underline;


      }

      .hide{

        display: none;


      }


      #parkedAddress{

        width: 100%;
        height: 20%;
        border: solid #2196F3 1px;
        font-size: 200%;
        border-radius: 20px;



      }

      .madeup{

        display: none;


      }


      .all_form_container{

        width: 100%;
        height: 40%;
        outline: solid blue 1px;
      /*  display: inline-block;
        float: left;*/
        display: block;
        overflow: hidden;


      }



      .parked_pic{


        width: 100%;
        height: 50%;
       /* border: solid brown 1px;*/
        background-image: url("/assets/park01.png");
        background-size: contain;
        background-repeat: no-repeat;


      }

      .walking_pic{


        width: 100%;
        height: 50%;
        /*border: solid brown 1px;*/
        background-image: url("/assets/walking01.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;


      }

      .wide_button{

        width: 100%;
        margin-bottom: 1%;

      }

      


     